.scroller {
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    align-self: center;
    z-index: -1;
}

.hero-container {
    /* background: url('images/img-home.jpg') center center/cover
    no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    object-fit: contain;
}

.hero-container > h2{
    font-size: 20px;
    font-weight:lighter;
    margin-top: 2px;
    color: #0E1F39;
    font-family: 'HelveticaNeue-Light';
    letter-spacing: 1.5px;
    padding-left: 20vh; 
} 


.hero-container >  h1 {
    font-size: 90px !important;
    color: rgb(255, 255, 255);
    font-size: 100px;
    font-family: 'AvenirNextCondensed-UltraLight' ;
    margin-top: -25px;
    padding-left: 19vh; 
}

.hero-container >  p {
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-size: 18px !important;
    margin-top: -50px;
    padding-left: 20vh;  
    padding-right: 40vh; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hero-btns{
    padding-left: 20vh;
    margin-top: 10px;
}

.hero-btns .btn{
    margin:6px;
}

.fa-play-circle{
    margin-left: 4px;
}

@media screen and (max-width: 960px){
    .hero-container > h2{
        font-size: 20px;
        font-weight: lighter;
        color: #0E1F39;
        font-family: 'HelveticaNeue-Light';
        letter-spacing: 1.5px;
        padding-left: 20vh; 
    } 
    
    .hero-container > h1{
        font-size: 70px !important;
        margin-top: -20px;
        padding-left: 19.5vh !important; 
    }

    .hero-container >  p {
        padding-left: 20vh;  
        padding-right: 10vh; 
    }

    .hero-btns{
        margin-top: 10px;
    }
    
    .hero-btns .btn{
        margin:6px;
    }
}

@media screen and (max-width:758px){
    .hero-container > h2{
        padding-left: 16.5vh;
        font-size: 15px; 
    } 

    .hero-container > h1{
        font-size: 50px !important;
        margin-top: -20px;
        padding-left: 16vh !important; 
    }

    .hero-container > p{
        padding-top: 20px;
        font-size: 15px !important;
        padding-left: 16vh !important; 
    }

    .hero-btns{
        margin-top: 10px;
        padding-left: 16vh !important; 
    }
    
    .hero-btns .btn{
        margin:6px;
        font-size: 13px !important;
    }
}

.scroll {
    position: absolute;
    bottom: 150px;
    left: 50%;
    transform: translateY(-50%);
}
.scroll::after {
    content: "";
    display: block;
    background-color: #0E1F39;
    width: 1px;
    animation: 10s ease infinite forwards scroll;
    position: absolute;
    top: 0;
    left: 50%;    
}
span {
    text-transform: uppercase;
    font-family: 'AvenirNextCondensed-UltraLight';
    color: #0E1F39;
    font-size: 1rem;
    display: block;
    transform: rotate(-90deg) translateX(-100%) translateY(-10px);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes scroll {
    0% {
        height: 0;
        opacity: 1;
    }
    50% {
        height: 100px;
        opacity: 1;
    }
    55% {
        height: 100px;
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}